doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/article/article.pug
    include ../components/aside/aside.pug
    include ../components/postnav/postnav.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        section.page__wrapper

            //- Include your components here
            +header()
            +breadcrumbs()
            .content__wrapper.wrapper_middle
              .content__container.container_with_aside
                +article('image-1.jpg', '26')
                +article('image-2.jpg', '22')
                +postnav()

              +aside()




            .page__buffer

        .page__footer
            +footer()
            +footer-end()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
