// Common styles of the project

html, body
  height 100%

html
  font-size 10px
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight $regular
  color $paragraph

.page
  font-size 1.4rem
  //- line-height 1.2em
  background-color $bg-body
  min-width 120rem


.page__wrapper
  min-height 100%
  margin-bottom -(30rem + 5rem)


* html .page__wrapper
  height 100%

.page__buffer
  height (30rem + 5rem)

.content__wrapper
  width 117rem
  margin: 0 auto
  position: relative
  padding 0 $paddings
  height inherit
  &.wrapper_middle
    margin 11rem auto 8.5rem
  m-cf()

.content__container
  &.container_with_aside
    float: left
    width 87rem
  a
    color $link
    &:visited
      color $link


h1
  font-weight $semibold
  font-size 2rem
  line-height 1.2em
  color $paragraph
  margin: 0
h2
  font-size 2.4rem
  line-height 1.2em
  font-weight $semibold
  color $blue
  margin 1.5rem 0

p
  line-height 1.5em

a
  text-decoration: none
  &:visited
    color $paragraph
