// GUI stylies of the project
// For example, styles of the links, buttons and so on.

a
  &.link_arrow_r
    padding-right 2rem
    background url('%=static=%general/link-arrow-r.png') right 75% no-repeat
    line-height 1em
  &.logo
    text-indent -999999px
    width 22.4rem
    height 2.1rem
    background  url('%=static=%assets/header/logo.png') 0 0 no-repeat
    background-size contain
    display: inline-block
