.article
  $article-pt = 4.8rem
  position: relative
  padding $article-pt 0 0 10rem
  margin-top 4.4rem
  border-top 3px solid $article-border
  &:first-child
    margin-top 0
    border 0
    padding-top 0
    .article__info
      top 0.3rem

  &__img
    height 30rem
    border-radius 5px
    overflow: hidden
    margin-bottom 3.5rem
    img
      width inherit
      height inherit
      object-fit: cover
      display: block
  &__nav
    margin-bottom 3rem
  &__tags
    margin-left 1.5rem
    i
      color $icon-color
      margin-right 0.5rem
  &__comments
    margin-left 1.5rem
    i
      color $icon-color
      margin-right 0.5rem
  &__actions
    margin-top 2.5rem

  p
    margin 1.5rem 0


  &__info
    position: absolute
    top 0.3rem + $article-pt
    left 0
    &__item
      width 7rem
      height 7rem
      background-color $white
      border-radius: 3px
      box-shadow 0px 3px 2px 0px rgba(229, 230, 230, 1)
      margin-top 2rem
      &:first-child
        margin-top 0
    .date
      text-align: center
      height 8rem
      span
        display: block
      &__month
        font-size 2rem
        text-transform: uppercase
        line-height 4.4rem
      &__day
        font-weight $extrabold
        font-size 3rem
        line-height 0.8em

    .blank
      background $paragraph url('%=static=%general/ico-blank.png') 50% 50% no-repeat
