mixin article(src, day)
  article.article
    .article__img
      img(src=`%=static=%img/assets/article/${src}` alt="img")
    h2 Duis dapibus aliquam mi, eget euismod sem scelerisque ut.
    .article__nav
      | Posted by&nbsp;
      a.article__username(href="#") Admin
      | &nbsp;in&nbsp;
      a.article__category(href="#") Wordpress
      | &nbsp;
      span.article__tags
        i.fa.fa-tags(aria-hidden="true")
        a(href="#") Design
        |,&nbsp;
        a(href="#") Template
      span.article__comments
        i.fa.fa-comments(aria-hidden="true")
        a(href="#") 22

    p Maecenas eget turpis turpis. Nunc vel metus augue. Aenean euismod cursus ligula eget dapibus. Praesent vel erat in tortor placerat dignissim. Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis. Curabitur vitae velit in neque dictum blandit. Proin in iaculis neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    .article__actions
      a.link_arrow_r(href="#") Continue reading

    .article__info
      .article__info__item.date
        span.date__month may
        span.date__day=day
      .article__info__item.blank
