.footer
  background $blue url('%=static=%general/bg-footer.png') 0 0 repeat-x
  height 30rem
  color $white
  &__item
    float: left
    width 17rem
    margin 4.8rem 0 0 3rem
    &:first-child
      margin-left 0
    &.about
      width 37rem
  p
    font-size 1.3rem
    line-height 2.35rem
  a
    color $white
  .logo
    margin-bottom 3rem
    display: block

  .contacts
    margin-top 2rem
    line-height 2.7rem
    span
      font-size 1.3rem
      display: inline-block
    a
      font-size 2rem
      font-weight $semibold
      font-style italic
      display: inline-block
      position: relative
      top 3px
      padding-left 2rem

  .menu-list
    list-style none
    padding: 0
    margin: 0
    > li
      > a
        font-weight $bold
        font-size 2rem
        line-height 0.8em
        color $black
        opacity 0.5
        display: inline-block
      > ul
        margin-top 3.2rem
        list-style none
        padding-left 2.5rem
        > li
          > a
            font-size 1.3rem
            line-height 2.35rem
            display: inline-block
            transition: all 0.4s
            &:hover
              color #3b6360
          i
            margin-right 1rem
            position relative
            top -0.1rem


.subfooter
  background-color $bg-subfooter
  height 5rem
  color $white
  a
    color $white
  .copyright
    position: absolute
    top 50%
    left $paddings
    transform translateY(-50%)
    font-size 1.2rem
    line-height 1.2em
  .social
    position: absolute
    top 50%
    right $paddings
    transform translateY(-50%)
    m-cf()
    a
      width 2.3rem
      height 2.3rem
      float: left
      margin-left 2.2rem
      &:first-child
        margin-left 0

    &_fb
      background url('%=static=%general/social-fb.png') 50% 50% no-repeat
    &_gp
      background url('%=static=%general/social-gp.png') 50% 50% no-repeat
    &_tw
      background url('%=static=%general/social-tw.png') 50% 50% no-repeat
    &_rs
      background url('%=static=%general/social-rs.png') 50% 50% no-repeat
