include footer-end
mixin footer(data)
  footer.footer
    .content__wrapper
      .footer__item.about
        a.logo(href="#" alt="Company name") Company name
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec.
        .contacts
          .contacts__item
            span Phone:
            a(href="tel:+18225695896") 182 2569 5896
          .contacts__item
            span E-mail:
            a(href="mailto:info@company.name") info@company.name
      .footer__item
        ul.menu-list
          li
            a(href="#") Company
            ul
              li
                a(href="#")
                  i.fa.fa-angle-right(aria-hidden="true")
                  | About
              li
                a(href="#")
                  i.fa.fa-angle-right(aria-hidden="true")
                  | FAQ
              li
                a(href="#")
                  i.fa.fa-angle-right(aria-hidden="true")
                  | Contact
              li
                a(href="#")
                  i.fa.fa-angle-right(aria-hidden="true")
                  | Terms
              li
                a(href="#")
                  i.fa.fa-angle-right(aria-hidden="true")
                  | Privacy
              li
                a(href="#")
                  i.fa.fa-angle-right(aria-hidden="true")
                  | Testimonials

      .footer__item
        ul.menu-list
          li
            a(href="#") Community
            ul
              li
                a(href="#")
                  i.fa.fa-angle-right(aria-hidden="true")
                  | Blog
              li
                a(href="#")
                  i.fa.fa-angle-right(aria-hidden="true")
                  | Forum
              li
                a(href="#")
                  i.fa.fa-angle-right(aria-hidden="true")
                  | Support
              li
                a(href="#")
                  i.fa.fa-angle-right(aria-hidden="true")
                  | Newsletter
