mixin footer-end(data)
  .subfooter
    .content__wrapper
      .copyright 2013 CompanyName
      nav.social
        a.social_fb(href="#")
        a.social_gp(href="#")
        a.social_tw(href="#")
        a.social_rs(href="#")
