include breadcrumbs

mixin header(data)
  header.header
    .content__wrapper
      a.logo(href="#" alt="Company name") Company name
      nav.menu
        a(href="#") home
        a(href="#") about
        a(href="#") services
        a.active(href="#") blog
        a(href="#") features
        a(href="#") contacts
        a.search(href="#")
