.header
  background $blue url('%=static=%general/bg-header.png') 0 100% repeat-x
  height 8rem
  .logo
    position: absolute
    top 50%
    left $paddings
    transform translateY(-50%)
  .menu
    position: absolute
    top 50%
    right $paddings
    transform translateY(-50%)
    a
      float: left
      display: block
      margin-left: 1rem
      text-transform: uppercase
      color $white
      padding 0 1.9rem

      border-radius 3px
      font-size 1.3rem
      line-height 3.1rem
      font-weight $semibold
      height 3rem
      transition all 125ms ease-out
      &:first-child
        margin-left 0
      &:hover
        background-color $bg-menu-hover
      &.active
        background-color $bg-menu
        box-shadow  0px 3px 2px 0px rgba(82, 139, 134, 1)
      &.search
        margin-left 2rem
        padding: 0
        background url('%=static=%assets/header/search.png') 0 0 no-repeat
        background-size contain
        width 3rem
        height 3rem

.breadcrumbs
  height 8rem
  background-color $breadcrumbs
  h1
    position: absolute
    top 50%
    left $paddings
    transform translateY(-50%)
    text-transform: uppercase

  &__item
    position: absolute
    top 50%
    right $paddings
    transform translateY(-50%)
    font-size 1.2rem
    line-height 1.2em
    color $paragraph
    *
      padding-left 1rem
      color $paragraph

  .content__wrapper
    &:after
      content ''
      position: absolute
      bottom -13px
      left $paddings
      width: 0
      height: 0
      border-left: 12px solid transparent
      border-right: 12px solid transparent
      border-top: 14px solid $breadcrumbs
