mixin aside-tags()
  .aside-widget
    h4.aside-widget__header tags
    .aside-widget__content
      ul.widget-tags
        li.widget-tags__item
          a(href="#") Maecenas
        li.widget-tags__item
          a(href="#") Nunc
        li.widget-tags__item
          a(href="#") Praesent
        li.widget-tags__item
          a(href="#") Nunc
        li.widget-tags__item
          a(href="#") Praesent
        li.widget-tags__item
          a(href="#") Nunc
        li.widget-tags__item
          a(href="#") Maecenas
        li.widget-tags__item
          a(href="#") Praesent
        li.widget-tags__item
          a(href="#") Nunc
