.aside
  float left
  width 27rem
  margin-left 3rem
.aside-widget
  margin-bottom 3.5rem
  &__header
    margin 0 0 3rem;
    font-weight 800
    font-size 1.6rem
    line-height 0.8em
    color $paragraph
    text-transform uppercase

.widget
  &-categories
    margin 0
    padding 0
    list-style: none
    &__item
      margin-bottom 1.5rem
      a
        font-size 1.4rem
        font-weight $semibold
        color $link
        text-transform uppercase
        padding-left 1.3rem
        i
          color $icon-color
          margin-right 1.6rem
  &-recent
    margin-top -1.5rem
    i
      font-size 1.6rem
      position absolute
      top 1.7rem
      left 1.2rem
      color $icon-color

    &__post
      position relative
      display block
      border-bottom 1px solid #e5e6e6
      padding 1.5rem 0 1.5rem 3rem
    &__title
       color $link
       font-size 1.4rem
       line-height 2rem
       font-weight 600
       margin-bottom 0.2rem
    &__date
      font-size 1.2rem
      color #7f8c8c
  &-tags
    margin -5px -8px 0 0
    padding 0
    list-style: none
    &__item
      display inline-block
      font-size 1.4rem
      margin-bottom 10px
      margin-right 8px
      a
        display block
        background $paragraph
        padding 5px 12px
        color #fff
        border-radius 5px
        transition background 125ms ease-out
        &:hover
          color #fff
          background $link
