mixin aside-recent()
  .aside-widget
    h4.aside-widget__header Recent posts
    .aside-widget__content
      .widget-recent
        a(href="#").widget-recent__post
          i.fa.fa-angle-right(aria-hidden="true")
          .widget-recent__title Curabitur vitae velit
          .widget-recent__date 25 May 2013
        a(href="#").widget-recent__post
          i.fa.fa-angle-right(aria-hidden="true")
          .widget-recent__title Vivamus at elit quis urna adipiscing&nbsp;iaculis
          .widget-recent__date 25 May 2013
        a(href="#").widget-recent__post
          i.fa.fa-angle-right(aria-hidden="true")
          .widget-recent__title Curabitur vitae velit
          .widget-recent__date 25 May 2013
        a(href="#").widget-recent__post
          i.fa.fa-angle-right(aria-hidden="true")
          .widget-recent__title Vivamus at elit quis urna adipiscing&nbsp;iaculis
          .widget-recent__date 25 May 2013
