mixin aside-categories()
  .aside-widget
    h4.aside-widget__header Categories
    .aside-widget__content
      ul.widget-categories
        li.widget-categories__item
          a(href="#")
            i.fa.fa-arrow-circle-right(aria-hidden="true")
            | Logo design
        li.widget-categories__item
          a(href="#")
            i.fa.fa-arrow-circle-right(aria-hidden="true")
            | Web design
        li.widget-categories__item
          a(href="#")
            i.fa.fa-arrow-circle-right(aria-hidden="true")
            | Photography
        li.widget-categories__item
          a(href="#")
            i.fa.fa-arrow-circle-right(aria-hidden="true")
            | Wordpress
        li.widget-categories__item
          a(href="#")
            i.fa.fa-arrow-circle-right(aria-hidden="true")
            |Icons
