.postnav
  margin-top 11.5rem
  ul.page_numbers
    list-style: none
    padding: 0
    margin: 0
    m-cf()
    > li
      display: block
      float: left
      margin 0.5rem
      &.prev
        margin-right 1.5rem
      &.next
        margin-left 1.5rem
      > a
        display: block
        width 4rem
        height 3.7rem
        background-color $page-numbers
        box-shadow  0px 3px 2px 0px rgba(127, 140, 140, 1)
        border-radius: 3px
        text-align: center
        font-weight $extrabold
        font-size 1.6rem
        line-height 3.7rem
        color $white
        transition: all 0.2s
        i
          position relative
          top 0.2rem
        &:hover
          background-color #e5655d
          box-shadow  0px 3px 2px 0px rgba(226, 83, 75, 1)
        &.active
          background-color #649792
          box-shadow  0px 3px 2px 0px rgba(82, 139, 134, 1)
