mixin postnav(data)
  .postnav
    ul.page_numbers
      li.prev
        a(href="")
          i.fa.fa-chevron-left(aria-hidden="true")
      li
        a(href="") 1
      li
        a.active(href="") 2
      li
        a(href="") ...
      li
        a(href="") 4
      li.next
        a(href="")
          i.fa.fa-chevron-right(aria-hidden="true")
